<p id="notice"><%= notice %></p>

<h1>Tours</h1>

<table>
  <thead>
    <tr>
      <th>Date debut</th>
      <th>Date fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.date_debut %></td>
        <td><%= tour.date_fin %></td>
        <td><%= link_to 'Show', admin_tour_path(tour) %></td>
        <td><%= link_to 'Edit', edit_admin_tour_path(tour) %></td>
        <td><%= link_to 'Destroy', admin_tour_path(tour), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour', new_admin_tour_path %>
<%= link_to 'Retour', admin_connexions_path %>
