<p id="notice"><%= notice %></p>

<p>
  <strong>Date de début :</strong>
  <%= @tour.date_debut %>
</p>

<p>
  <strong>Date de fin :</strong>
  <%= @tour.date_fin %>
</p>

<%= link_to 'Modifier le tour', edit_admin_tour_path(@tour) %> |
<%= link_to 'Retour', admin_tours_path %>
