<h1>Page d'accueil du Back-Office</h1>

<ul>
	<li><%= link_to 'Gestion des administrateurs', admin_admins_path %></li>
	<li><%= link_to 'Gestion des électeurs', admin_users_path %></li>
	<li><%= link_to 'Gestion des tours', admin_tours_path %></li>
	<li><%= link_to 'Gestion des candidats', admin_candidates_path %></li>
	<li><%= link_to 'Gestion des résultats', admin_votes_path %></li>
</ul>
