<p>
  <%= @candidate.affiliation %>
</p>
<p>
  <%= @candidate.prenom %>
</p>
<p>
  <%= @candidate.nom %>
</p>
<p>
  <%= @candidate.descriptif %>
</p>
<%= image_tag  @candidate.photo %>

<%= link_to 'Modifier le candidat', edit_candidate_path(@candidate) %> |
<%= link_to 'Retour à la liste des candidats', admin_candidates_path %>
