<h1>Sign Up</h1>
  <%= form_for([:admin, @user]) do |f| %>
    <p> Nom:</br> <%= f.text_field :name%> </p>
    <p> Code:</br> <%= f.password_field :encrypted_code%> </p>

    <%= f.submit :Signup %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
