<p id="notice"><%= notice %></p>

<h1>Votes</h1>
      
<table>
  <thead>
    <tr>
      <th>Candidat</th>
      <th>Résultat</th>
    </tr>
  </thead>

  <tbody>
 <% @results.each do |result| %>

      <tr>
        <td><%= @candidates.find(result[0]).nom %></td>
        <td><%= @candidates.find(result[0]).prenom %></td>


        <td><%= (result[1] * 100.0 / @votes.count).round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau vote', new_vote_path %>