<p id="notice"><%= notice %></p>

<p>
  <strong>Date debut:</strong>
  <%= @tour.date_debut %>
</p>

<p>
  <strong>Date fin:</strong>
  <%= @tour.date_fin %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
