<p id="notice"><%= notice %></p>

<% if current_user %>
  <%= link_to 'Je Vote', candidates_path %>
<% else %>
  <%= link_to 'Connexion', new_session_path %>
<% end %>


<h1><%= link_to 'Je vote', action:"vote"%></h1>


<h2>Bloc légal</h2>
<p>
Affichage du bloc légal : bullshitbullshitbullshitbullshitbullshitbullshitbullshitbullshit<br/>
bullshitbullshitbullshitbullshitbullshitbullshitbullshitbullshitbullshitbullshitbullshitbullshit<br/>
bullshitbullshitbullshitbullshitbullshitbullshitbullshitbullshitbullshitbullshitbullshitbullshit<br/>
</p>


<h2>Les candidats</h2>
<% @candidates.each do |candidate| %>
  <div>
      <%= candidate.prenom %> <strong><%= candidate.nom %></strong>
  </div>

  <div><%= image_tag candidate.photo %></div>

  <div><%= candidate.affiliation %></div>

  <!-- lien vers un candidat -->
  <div><%= link_to 'Show',
      candidate_path(candidate)%></div>
<% end %>