<p id="notice"><%= notice %></p>

<h1>Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Affiliation</th>
      <th>Photo</th>
      <th>Descriptif</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.nom %></td>
        <td><%= candidate.prenom %></td>
        <td><%= candidate.affiliation %></td>
        <td><%= candidate.photo %></td>
        <td><%= candidate.descriptif %></td>
        <td><%= link_to 'Show', candidate_path(candidate) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
