<p id="notice"><%= notice %></p>

<div id="homeButton">
  <% if current_user %>
    <% if cookies[:tour] %>
      <%= link_to 'Je Vote', { :action => "vote"}, :class => "btn btn-lg btn-primary" %>
    <% else %>
      L'election est fermée au vote
    <% end %>
  <% else %>
  <%= link_to 'Connexion', new_session_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Comment ça marche ?</div>
  <div class="panel-body">
    <ul>
      <li>
        <p>1. : J'active mon compte en cliquant sur "connexion" et en rentrant mes identifiants reçus par lettre</p>
        <%= image_tag "mail.png" %>
      </li>

      <li>
        <p>2. : Je vote pour le candidat de mon choix en cliquant sur le bouton "VOTER" le jour du vote</p>
        <%= image_tag "voting.png" %>
      </li>

      <li>
        <p>3. : Je reviens pour consulter les résultats des élections </p>
        <%= image_tag "victorious.png" %>
      </li>
    </ul>
  </div>
</div>

<h2>Les candidats</h2>
<div class="row">
  <% @candidates.each do |candidate| %>
  <div class="col-sm-12 col-md-6 candidates">
      <%= image_tag candidate.photo %>
      <%= link_to root_path do %>
        <h3><%= candidate.prenom %> <strong><%= candidate.nom %></strong></h3>
        <p><%= candidate.affiliation %></p>
      <% end %>
      <div class="divider"> </div>
  </div>
  <% end %>
</div>
