<p id="notice"><%= notice %></p>

<p>
  <%= @candidate.affiliation %>
</p>
<p>
  <%= @candidate.prenom %>
</p>
<p>
  <%= @candidate.nom %>
</p>
<p>
  <%= @candidate.descriptif %>
</p>

<%= image_tag  @candidate.photo %>


<%= link_to 'Liste des candidats', candidates_path %>
