<p id="notice"><%= notice %></p>
<div id="candidat">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag @candidate.photo %>
        <h3><%= @candidate.prenom %> <strong><%= @candidate.nom %></strong></h3>
        <p><%= @candidate.affiliation %></p>
        <p><%= @candidate.descriptif %></p>
        <%= link_to 'Retour', :back, :class => "btn btn-primary btn-lg"  %>
    </div>
  </div>
</div>
