<p id="notice"><%= notice %></p>


<h1>Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Affiliation</th>
      <th>Photo</th>
      <th>Descriptif</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.nom %></td>
        <td><%= candidate.prenom %></td>
        <td><%= candidate.affiliation %></td>
        <td><%= candidate.photo %></td>
        <td><%= candidate.descriptif %></td>
        <td>
        <%= form_for :vote, :url => {:action=>"create", :controller=>"votes"} do |f| %>
        <div class="field">
        <%= f.hidden_field :id_candidate, :value=> candidate.id  %>
        </div>
        <div class="field">
        <%= f.hidden_field :code_postal, :value=> current_user.postal %>
        </div>
        <div class="field">
        <%= f.hidden_field :bureau_de_vote, :value=> current_user.bureau %>
        </div>
        <div class="field">
        <%= f.hidden_field :id_tour, :value=> cookies[:tour] %>
        </div>
        <div class="actions">
        <%= f.submit %>
        </div>
                <% end %>
          </td>
        <td><%= link_to 'Show', candidate_path(candidate) %></td>
      </tr>
    <% end %>
  </tbody>


</table>
