<p id="notice"><%= notice %></p>

<h1>Liste des utilisateurs</h1>

<table>
  <thead>
    <tr>
      <th>Nom des utilisateurs</th>
      <th>Prénom des utilisateurs</th>
      <th>Code Postal</th>
      <th>Bureau de Vote</th>
  <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.forname %></td>
        <td><%= user.postal %></td>
        <td><%= user.bureau %></td>
        <td><%= link_to 'Voir le profil de l\'utilisateur', admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un utilisateur', new_admin_user_path %>
<%= link_to 'Retour', admin_connexions_path %>
