<h1>Ajouter un nouvel utilisateur</h1>
  <%= form_for([:admin, @user]) do |f| %>
    <p> Nom :</br> <%= f.text_field :name%> </p>
    <p> Prénom :</br> <%= f.text_field :forname%> </p>
    <p> Code :</br> <%= f.password_field :encrypted_code%> </p>
    <p> Code Postal :</br> <%= f.text_field :postal%> </p>
    <p> Bureau de poste :</br> <%= f.text_field :bureau%> </p>

    <%= f.submit :Signup %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
