<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @user.forname %>
</p>

<p>
  <strong>Code postal:</strong>
  <%= @user.postal %>
</p>

<p>
  <strong>Bureau:</strong>
  <%= @user.bureau %>
</p>

<p>
  <strong>Code :</strong>
  <%= @user.encrypted_code %>
</p>

<p>
  <strong>Tour  1:</strong>
  <% if @user.tour1 %>
    voté
  <% else %>
    non voté
  <% end %>
</p>

<p>
  <strong>Tour  2:</strong>
  <% if @user.tour2 %>
    voté
  <% else %>
    non voté
  <% end %>
</p>

<%= link_to 'Back', admin_users_path %>
