<!DOCTYPE html>
<html>
  <head>
    <title>Élections 2017</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to root_path, class:"navbar-brand" do %>
         <%= image_tag "logoelec.png"%>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>  <%= link_to "Accueil", candidates_path %></li>
        <% if current_user %>
        <li>  <%= link_to "Se désidentifier", log_out_path %></li>
        <% else %>
        <li>  <%= link_to "S'identifier", log_in_path %></li>
        <% end %>
        <li>  <%= link_to "Voter", candidates_path %> </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

<div id="user_nav">
<% if current_user %>
Logged In as <%= current_user.name %> <%= current_user.forname %>
<%= link_to "log out", log_out_path %>
<% end %>
<% if current_admin %>
Logged In as <%= current_admin.login %>
<%= link_to "admin_log out", admin_log_out_path %>
<% end %>
</div>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_(name)" %>
<% end %>


    <%= yield %>
</div>
  </body>
</html>
